node_modules
.idea
.vscode
.bzrignore
.chefignore
.cfignore
.cvsignore
.boringignore
.deployignore
.distignore
.dockerignore
.ebignore
.eleventyignore
.eslintignore
.flooignore
ignore-glob
.gcloudignore
.helmignore
.jpmignore
.jshintignore
.hgignore
.mtn-ignore
.nodemonignore
.npmignore
.nuxtignore
.openapi-generator-ignore
.p4ignore
.prettierignore
.ignore
.stylelintignore
.stylintignore
.swagger-codegen-ignore
.terraformignore
.tfignore
.tokeignore
.upignore
.vercelignore
.yarnignore